* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  background-color: rgb(22, 19, 19);
  display: flex;
  font-size: 25px;
  align-items: center;
  height: 100px;
  justify-content: space-around;
  color: white;
}
ul {
  justify-content: space-between;
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  width: 80%;
  text-decoration: none;
}
li {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  font-family: zen maru gothic;
}
li a {
  text-decoration: none;
  color: white;
  align-items: center;
}
i {
  color: white;
  padding-top: 7px;
}
body {
  background-color: rgb(46, 5, 46);
}
.main-content {
  color: white;
  text-align: center;
  margin-top: 50px;
  font-family: zen maru gothic;
}
h1 {
  font-size: 50px;
}
.main-content p {
  font-size: 25px;
  color: plum;
}
.first-set-of-links {
  margin-top: 15px;
}
.first-set-of-links a {
  color: skyblue;
  padding-right: 25px;
  padding-left: 25px;
  text-decoration: none;
}
.img {
  margin-top: 25px;
  margin-bottom: 25px;
}
footer {
  text-align: center;
  color: skyblue;
}
footer a {
  text-decoration: none;
  color: plum;
}
a:hover {
  color: plum;
}
